<% if current_user.admin %>
<%= link_to "New Attraction", new_attraction_path %>
<% end %>

<%= @attractions.each do |attraction|%>
    <div>
    <ul>
        <li><%= attraction.name %></li>
        <li><%= attraction.tickets %></li>
        <li><%= attraction.nausea_rating %></li>
        <li><%= attraction.happiness_rating %></li>
        <li><%= attraction.min_height %></li>
    </ul>
    <% if current_user.admin %>
        <%= link_to "Show #{attraction.name}", attraction_path(attraction) %>
    <% end %>
    <% if !current_user.admin %>
        <%= link_to "Go on #{attraction.name}", attraction_path(attraction) %>
    <% end%>

    </div>

<% end %>