<h3>Add A New Attraction</h3>



<%= form_with model: @attraction do |f| %>  
    <div>
    <%= f.label(:name, "Name:") %>
    <%= f.text_field :name %>
    </div>
    <div>
    <%= f.label(:tickets, "Tickets:") %>
    <%= f.text_field :tickets %>
    </div>
    <div>
    <%= f.label(:nausea_rating, "Nausea Rating:") %>
    <%= f.text_field :nausea_rating %>
    </div>
    <div>
    <%= f.label(:happiness_rating, "Happiness Rating:") %>
    <%= f.text_field :happiness_rating %>
    </div>
    <div>
    <%= f.label(:min_height, "Min Height:") %>
    <%= f.text_field :min_height %>
    </div>

    <%= f.submit("Create Attraction") %>
<% end %>  